<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <a routerLink="/feed/top" class="navbar-brand" routerLinkActive="active">GitHunt</a>
    <ul class="nav navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a title="Top" routerLink="/feed/top" class="nav-link">Top</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" title="New" routerLink="/feed/new">New</a>
      </li>
    </ul>
    <githunt-profile class="pull-xs-right"></githunt-profile>
  </div>
</nav>
